body {
  background: #B9CFDD;
  font-family: LagunaC;
}


h1 {
  font-size: 20px;
  font-family: LagunaC;
  color: #F4EDE5;    
}

/* Верхнее меню */
.navbar.position-fixed {
  background-color: #B93920;
  box-shadow: #0E2745;
}

.navbar.position-fixed .navbar-brand,
.navbar.position-fixed .nav-link {
  color: #F4EDE5;
  font-size: 18px;
}

.navbar.position-fixed .container-fluid {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-size: 15px;
  color: #0E2745;  
}

.card {
  background-color: #F4EDE5;
  border: none;
  border-radius: 25px;
}

.btn-primary {
  background-color: #B93920;
  border: none;
  color: #F4EDE5;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background-color: #0E2745;
  color: #F4EDE5;
}

.btn-primary:focus,
.btn-primary:active {
  outline: none;
  box-shadow: none;
}

.card-title {
  color: #0E2745;
}

.card-text {
  color: #374138;
}

h2.mb-4 {
  text-align: left;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.mt-5 h3 {
  text-align: center;
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #0E2745;
}

.mb-3 {
  background-color: #767257;
  border: none;
  color: #0E2745;
  transition: background-color 0.3s ease;
}

.films-section {
  background-color: #7691AE;
  padding: 20px 0; 
  margin: 50px auto;
  width: 100%; 
  max-width: 1700px; 
  border-radius: 0px;
}


.card {
  width: 85%; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 5px; 
}


@media (max-width: 767.98px) {
  .card {
    width: 95%; 
    margin-left: 5px;
    margin-right: 5px;
  }
}


.bio-collapse-wrapper {
  padding: 20px 0; 
  margin: 20px auto;  
  max-width: 1700px; 
  width: 100%;       
  box-sizing: border-box; 
}


#actorInfo {
  margin-top: 0;
  margin-bottom: 0;
}


#actorInfo .card {
  width: 100%;
  margin: 0;
  border: 40px solid #7691AE;
  border-radius: 0px;
  background-color: #F4EDE5;
  box-sizing: border-box; 
}


@media (max-width: 767.98px) {
  .bio-collapse-wrapper,
  .films-section {
    width: 100%;      
    padding: 20px 15px; 
  }
  
  #actorInfo .card,
  .card {
    border-width: 20px; 
  }
}


#sidebar {
  background-color: #B9CFDD; 
  color: #F4EDE5; 
  width: 250px; 
  padding-top: 70px; 
}


#sidebar .nav-link {
  color: #0E2745; 
  font-size: 18px;
  padding: 20px 73px; 
  transition: all 0.3s ease;
}


#sidebar .nav-link:hover {
  color: #0E2745; 
  background-color: #7691AE; 
  border-left: 4px solid #B93920; 
}


#sidebar .nav-link.active {
  color: #0E2745; 
  font-weight: bold;
  border-left: 4px solid #B93920;
}

.alert {
  margin-top: 50px;
  background-color: #F4EDE5;
  color: #0E2745;
  border: none;
  border-radius: 8px;
  box-shadow: #0E2745;
}